body {
  background-color: lightgray;
  display: flex;
  height: 100vh;
  justify-content: center;
}
#title {
  font-size: 50px;
  font-weight: bold;
}
.contain {
  width: 250px;
  height: 350px;
  border: 5px solid white;
  position: relative;
}
#tomato {
  background-color: tomato;
  position: absolute;
  top: 100px;
  right: 50%;
}
#teal {
  background-color: teal;
  position: absolute;
  top: 100px;
  left: 51%;
}
#burlywood {
  background-color: burlywood;
  position: absolute;
  top: 470px;
  right: 50%;
}
#thistle {
  background-color: thistle;
  position: absolute;
  top: 470px;
  left: 51%;
}
.box {
  width: 245px;
  height: 50px;
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 5px;
}
#first {
  position: absolute;
  top: 20px;
}
#second {
  position: absolute;
  top: 70px;
}
div > p {
  font-size: 20px;
  font-weight: bold;
  top: 20px;
}
div > span {
  font-size: 15px;
  font-weight: bold;
  top: 70px;
}
