@keyframes longAndShort {
  0% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(1.5);
  }
  60% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes circleRotate1 {
  0% {
    transform: rotate(0deg);
    transform-origin: 115px;
  }
  30% {
    transform: rotate(180deg);
    transform-origin: 115px;
  }
  50% {
    transform: rotate(180deg);
    transform-origin: 115px;
  }
  80% {
    transform: rotate(360deg);
    transform-origin: 115px;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 115px;
  }
}
@keyframes circleRotate2 {
  0% {
    transform: rotate(0deg);
    transform-origin: -65px;
  }
  30% {
    transform: rotate(180deg);
    transform-origin: -65px;
  }
  50% {
    transform: rotate(180deg);
    transform-origin: -65px;
  }
  80% {
    transform: rotate(360deg);
    transform-origin: -65px;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: -65px;
  }
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

section {
  height: 90%;
  width: 70%;
  background-color: rgb(30, 156, 156);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 20px;
  background-color: white;
}
.square {
  height: 150px;
  width: 50px;
  margin: 0 5px;
  background-color: white;
  animation: longAndShort 1s ease-in-out infinite;
}
#two {
  animation-delay: 0.1s;
}
#three {
  animation-delay: 0.2s;
}
#four {
  animation-delay: 0.3s;
}
#five {
  animation-delay: 0.4s;
}
#first {
  animation: circleRotate1 1s ease-in-out infinite;
}
#third {
  animation: circleRotate2 1s ease-in-out infinite;
}
